doctype html
html
  head
    title bespoke-theme-voltaire
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body

    article

      section
        h1 bespoke-theme-voltaire
        ul
          li A Bespoke.js theme by <a href="https://github.com/markdalgleish">Mark Dalgleish</a>

      section
        h1.bullet Large Heading
        h2.bullet Smaller Sub-heading

      section
        h1.bullet Unordered List
        ul
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.

      section(data-bespoke-backdrop='emphatic')
        h1.bullet Emphatic slide
        ul
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.

      section
        h1.bullet Enjoy <span class='bullet'>:)</span>

    a(href='https://github.com/markdalgleish/bespoke-theme-voltaire')
      img(style='position: absolute; top: 0; right: 0; border: 0; width: 25vw; max-width: 149px;', src='http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png' alt='Fork me on GitHub')

    script(src='build/build.js')
